<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
        {{ partial "microblog_head.html" . }}
    </head>
    <body>
        <div class="aqua-window">
            <div class="aqua-title-bar">
                <div class="traffic-lights">
                    <div class="traffic-light close"></div>
                    <div class="traffic-light minimize"></div>
                    <div class="traffic-light maximize"></div>
                </div>
                <div class="window-title">{{ .Site.Title }}</div>
            </div>

            {{ partial "header-single.html" . }}

            <main>
                {{ block "main" . }}{{ end }}
            </main>

            {{ partial "footer.html" . }}
            {{ partial "custom_footer.html" . }}
        </div>
    </body>
</html>